In [1]:
import json
import requests
import openpyxl
import time
import pandas as pd
import numpy as np

In [2]:
busstops = pd.read_csv('busstop_with_planningarea.csv')
busstops.head()

,Unnamed: 0,BusStopCode,Description,Latitude,Longitude,RoadName,planning_area
0,0,1012,Hotel Grand Pacific,1.296848,103.852536,Victoria St,DOWNTOWN CORE
1,1,1013,St. Joseph's Ch,1.297710,103.853225,Victoria St,ROCHOR
2,2,1019,Bras Basah Cplx,1.296990,103.853022,Victoria St,DOWNTOWN CORE
3,3,1029,Opp Natl Lib,1.296673,103.854414,Nth Bridge Rd,DOWNTOWN CORE
4,4,1039,Bugis Cube,1.298208,103.855491,Nth Bridge Rd,DOWNTOWN CORE

In [3]:
busstops['X'] = ''
busstops['Y'] = ''

domain = 'https://developers.onemap.sg/commonapi/convert/4326to3414?'
incl_lat = 'latitude='
incl_long = '&longitude='

for index,row in busstops.iterrows():
    
    if index %100 ==0:
        print(index)
    
    #print(index)
    
    lat = str(row['Latitude'])
    long = str(row['Longitude'])
    
    query_string = domain+incl_lat+lat+incl_long+long
    #print(query_string)

    try:
        resp = requests.get(query_string, timeout=15)
        extract=json.loads(resp.content)
        #print(extract)

        busstops['X'][index] = str(extract['X'])
        busstops['Y'][index] = str(extract['Y'])
    except:
        pass

busstops.tail(10)

0

C:\Users\User\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\User\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000

,Unnamed: 0,BusStopCode,Description,Latitude,Longitude,RoadName,planning_area,X,Y
5031,5031,99109,Opp Govt Chalets,1.391206,103.981820,Netheravon Rd,CHANGI,44526.28090118214,41458.56967441706
5032,5032,99111,Changi Golf Club,1.391751,103.984157,Netheravon Rd,CHANGI,44786.41106371578,41518.81897819068
5033,5033,99119,Opp Changi Golf Club,1.391550,103.984370,Netheravon Rd,CHANGI,44810.10554670804,41496.55449537831
5034,5034,99129,Changi Village Hotel,1.390005,103.986755,Changi Village Rd,CHANGI,45075.44776979598,41325.762145591005
5035,5035,99131,Blk 4,1.388942,103.987343,Changi Village Rd,CHANGI,45140.93691210907,41208.20879750722
5036,5036,99139,Blk 5,1.388195,103.987234,Changi Village Rd,CHANGI,45128.78970324141,41125.6170812848
5037,5037,99161,Bef Changi Beach CP 3,1.390262,103.992957,Nicoll Dr,CHANGI,45765.6501216896,41354.20230999694
5038,5038,99171,Changi Beach CP 2,1.391128,103.991021,Nicoll Dr,CHANGI,45550.28040979081,41449.91292235238
5039,5039,99181,Bef S'pore Aviation Ac,1.387754,103.988503,Telok Paku Rd,CHANGI,45270.05005408371,41076.88238150857
5040,5040,99189,S'pore Aviation Ac,1.388414,103.989716,Telok Paku Rd,CHANGI,45405.070317853475,41149.87553134574

In [5]:
busstops.to_csv('busstops_with_planning_area_XY.csv')