In [1]:
import json
import requests
import openpyxl
import time
import pandas as pd
import numpy as np

In [4]:
busstops = pd.read_csv('busstop_with_planningarea.csv')
busstops.tail(5)

,Unnamed: 0,BusStopCode,Description,Latitude,Longitude,RoadName,planning_area
5036,5036,99139,Blk 5,1.388195,103.987234,Changi Village Rd,CHANGI
5037,5037,99161,Bef Changi Beach CP 3,1.390262,103.992957,Nicoll Dr,CHANGI
5038,5038,99171,Changi Beach CP 2,1.391128,103.991021,Nicoll Dr,CHANGI
5039,5039,99181,Bef S'pore Aviation Ac,1.387754,103.988503,Telok Paku Rd,CHANGI
5040,5040,99189,S'pore Aviation Ac,1.388414,103.989716,Telok Paku Rd,CHANGI

In [15]:
df = busstops.groupby(['planning_area']).mean().reset_index()[['planning_area', 'Latitude', 'Longitude']]
df.head()

  planning_area  Latitude   Longitude
0    ANG MO KIO  1.376949  103.843223
1         BEDOK  1.323333  103.926021
2        BISHAN  1.354463  103.841918
3      BOON LAY  1.317009  103.704350
4   BUKIT BATOK  1.354050  103.752801

In [14]:
df.to_csv('planning_area_lat_long.csv')